[submodule "external/boost"]
	path = external/boost
	url = https://github.com/boostorg/boost
[submodule "external/thrift"]
	path = external/thrift
	url = https://git-wip-us.apache.org/repos/asf/thrift.git
[submodule "libevent/libevent"]
	path = libevent/libevent
	url = https://github.com/libevent/libevent/
[submodule "gflags"]
	path = gflags/gflags
	url = https://github.com/gflags/gflags
[submodule "gtest/googletest"]
	path = gtest/googletest
	url = https://github.com/google/googletest
