[submodule "external/boost"]
	path = boost/boost
	url = https://github.com/boostorg/boost
[submodule "external/thrift"]
	path = thrift/thrift
	url = https://git-wip-us.apache.org/repos/asf/thrift.git
[submodule "libevent/libevent"]
	path = libevent/libevent
	url = https://github.com/libevent/libevent/
[submodule "gflags"]
	path = gflags/gflags
	url = https://github.com/gflags/gflags
[submodule "gtest/googletest"]
	path = gtest/googletest
	url = https://github.com/google/googletest
[submodule "glog/glog"]
	path = glog/glog
	url = https://github.com/google/glog
[submodule "double-conversion/double-conversion"]
	path = double-conversion/double-conversion
	url = https://github.com/google/double-conversion
[submodule "jemalloc/jemalloc"]
	path = jemalloc/jemalloc
	url = https://github.com/jemalloc/jemalloc
